<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Page Layout here -->
<body class='full'>
  <div class='full row'>
    <!-- side nav -->
    <div  id='navbarcontainer' class='col s3'>
      <%- include('./partials/nav') %>
    </div>
    <!-- Single Rider info -->
    <div id='scrollFeed' class='full col s9 green'>
      <h2>Rider page</h2>
      <ul class="collection with-header">
          <li class='collection-header'><h4><%= r.name %>'s Rides: </h4></li>
        <% r.posts.forEach(function(p) { %>
          <li id='riderPost' class="collection-item blue-grey-text text-darken-2">
            <span class="title"><%- p.trail %></span>
            <p><%- p.text %> <br>
            <%- p.range %> <br>
            <!-- id to be deleted -->
            <%- p.id %> 
            </p>
            <% if (r._id.equals(user && user._id)) { %>
              <form action="/home/<%= p._id %>?_method=DELETE" method="POST" class="secondary-content">
                <button type="submit" class="btn-small red-text">X</button>
              </form>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>


</html>