<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Page Layout here -->
<body class='full'>
  <div class='full row'>
    <!-- side nav -->
    <div  id='navbarcontainer' class='col s2'>
      <%- include('../partials/nav') %>
    </div>
    <!-- post area -->
    <div id='postBoxContainer' class='full col s10 grey lighten-2'>

                <div class="card">
                    <div class='card-image'>
                        <img src='../../images/postBoxBG.jpeg'>
                        <span class="card-title">Edit your ride</span>
                    </div>
                    <div id='postForm' class="card-content white-text">
                        <form action='/rides/<%= ride._id %>?_method=PUT' method='POST'>
                            <label>Update the content:</label>
                            <input type="text" placeholder="<%= ride.text %> " name='text'>
                            <label class='col s12 m6' for='trails'>Update the trail you rode:</label>
                            <label calss='col s12 m4'>Update your range: (in miles)</label>
                                <select class='browser-default col s12 m6' name="trail" id="trails">
                                <option value="none" selected disabled hidden>
                                    <%= ride.trail %> 
                                </option>
                                <option value="Boulder Canyon Trail">Boulder Canyon Trail</option>
                                <option value="Valmont Bike Park">Valmont Bike Park</option>
                                <option value="Bobolink Trail">Bobolink Trail</option>
                                <option value="Cottonwood Trail">Cottonwood Trail</option>
                                </select>
                            <input class='col s12 offset-s6 m6' type="number" placeholder="<%= ride.range %> " name='range'>
                            <button type='submit' class='waves-effect waves-light btn blue-grey lighten-1 col s12'>Submit</button>
                        </form>
                    </div>
                </div>

    </div>
  </div>
</body>


</html>