<!DOCTYPE html>
<html>

<head>
  <title>Biking With Friends</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Page Layout here -->
<body class='full'>
  <div class='full row'>
    <!-- side nav -->
    <div  id='navbarcontainer' class='col s2'>
      <%- include('../partials/nav') %>
    </div>
    <!-- post area -->
    <div id='postBoxContainer' class='full col s10 grey lighten-2'>
        <div class='full col s10 grey lighten-2'>
            <div class="row">
                <div class='col s12'>
                    <div class="card blue-grey lighten-1">
                        <div class='card-image'>
                            <img src='../../postBoxBG.jpeg'>
                            <span class="card-title"><%= ride.trail %> </span>
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title">User - <%= ride.user %> </span>
                            <p><%= ride.text  %></p>
                            <form action="/<%= ride._id %>?_method=DELETE" method="POST" class="secondary-content">
                                <button type='submit' class="btn-floating btn-medium waves-effect waves-light red secondary-content"><i class="material-icons">delete</i></button>
                            </form>
                        </div>
                        <div class="card-action">
                        <!-- comments go here  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>


</html>